/* Compiler */

/* Variables */

:root {/* Color scheme *//* Spacing  */
}
/* Background color */
.bc-white {

    background-color: #fff
}
.bc-black {

    background-color: #000
}
.bc-transparent {

    background-color: transparent
}
.bc-red50 {

    background-color: #FFEBEE
}
.bc-red100 {

    background-color: #FFCDD2
}
.bc-red200 {

    background-color: #EF9A9A
}
.bc-red300 {

    background-color: #E57373
}
.bc-red400 {

    background-color: #EF5350
}
.bc-red500 {

    background-color: #F44336
}
.bc-red600 {

    background-color: #E53935
}
.bc-red700 {

    background-color: #D32F2F
}
.bc-red800 {

    background-color: #C62828
}
.bc-red900 {

    background-color: #B71C1C
}
.bc-redA100 {

    background-color: #FF8A80
}
.bc-redA200 {

    background-color: #FF5252
}
.bc-redA400 {

    background-color: #FF1744
}
.bc-redA700 {

    background-color: #D50000
}
.bc-pink50 {

    background-color: #FCE4EC
}
.bc-pink100 {

    background-color: #F8BBD0
}
.bc-pink200 {

    background-color: #F48FB1
}
.bc-pink300 {

    background-color: #F06292
}
.bc-pink400 {

    background-color: #EC407A
}
.bc-pink500 {

    background-color: #E91E63
}
.bc-pink600 {

    background-color: #D81B60
}
.bc-pink700 {

    background-color: #C2185B
}
.bc-pink800 {

    background-color: #AD1457
}
.bc-pink900 {

    background-color: #880E4F
}
.bc-pinkA100 {

    background-color: #FF80AB
}
.bc-pinkA200 {

    background-color: #FF4081
}
.bc-pinkA400 {

    background-color: #F50057
}
.bc-pinkA700 {

    background-color: #C51162
}
.bc-purple50 {

    background-color: #F3E5F5
}
.bc-purple100 {

    background-color: #E1BEE7
}
.bc-purple200 {

    background-color: #CE93D8
}
.bc-purple300 {

    background-color: #BA68C8
}
.bc-purple400 {

    background-color: #AB47BC
}
.bc-purple500 {

    background-color: #673AB7
}
.bc-purple600 {

    background-color: #8E24AA
}
.bc-purple700 {

    background-color: #7B1FA2
}
.bc-purple800 {

    background-color: #6A1B9A
}
.bc-purple900 {

    background-color: #4A148C
}
.bc-purpleA100 {

    background-color: #EA80FC
}
.bc-purpleA200 {

    background-color: #E040FB
}
.bc-purpleA400 {

    background-color: #D500F9
}
.bc-purpleA700 {

    background-color: #AA00FF
}
.bc-deepPurple50 {

    background-color: #EDE7F6
}
.bc-deepPurple100 {

    background-color: #D1C4E9
}
.bc-deepPurple200 {

    background-color: #B39DDB
}
.bc-deepPurple300 {

    background-color: #9575CD
}
.bc-deepPurple400 {

    background-color: #7E57C2
}
.bc-deepPurple500 {

    background-color: #9C27B0
}
.bc-deepPurple600 {

    background-color: #5E35B1
}
.bc-deepPurple700 {

    background-color: #512DA8
}
.bc-deepPurple800 {

    background-color: #4527A0
}
.bc-deepPurple900 {

    background-color: #311B92
}
.bc-deepPurpleA100 {

    background-color: #B388FF
}
.bc-deepPurpleA200 {

    background-color: #7C4DFF
}
.bc-deepPurpleA400 {

    background-color: #651FFF
}
.bc-deepPurpleA700 {

    background-color: #6200EA
}
.bc-indigo50 {

    background-color: #E8EAF6
}
.bc-indigo100 {

    background-color: #C5CAE9
}
.bc-indigo200 {

    background-color: #9FA8DA
}
.bc-indigo300 {

    background-color: #7986CB
}
.bc-indigo400 {

    background-color: #5C6BC0
}
.bc-indigo500 {

    background-color: #3F51B5
}
.bc-indigo600 {

    background-color: #3949AB
}
.bc-indigo700 {

    background-color: #303F9F
}
.bc-indigo800 {

    background-color: #283593
}
.bc-indigo900 {

    background-color: #1A237E
}
.bc-indigoA100 {

    background-color: #8C9EFF
}
.bc-indigoA200 {

    background-color: #536DFE
}
.bc-indigoA400 {

    background-color: #3D5AFE
}
.bc-indigoA700 {

    background-color: #304FFE
}
.bc-blue50 {

    background-color: #E3F2FD
}
.bc-blue100 {

    background-color: #BBDEFB
}
.bc-blue200 {

    background-color: #90CAF9
}
.bc-blue300 {

    background-color: #64B5F6
}
.bc-blue400 {

    background-color: #42A5F5
}
.bc-blue500 {

    background-color: #2196F3
}
.bc-blue600 {

    background-color: #1E88E5
}
.bc-blue700 {

    background-color: #1976D2
}
.bc-blue800 {

    background-color: #1565C0
}
.bc-blue900 {

    background-color: #0D47A1
}
.bc-blueA100 {

    background-color: #82B1FF
}
.bc-blueA200 {

    background-color: #448AFF
}
.bc-blueA400 {

    background-color: #2979FF
}
.bc-blueA700 {

    background-color: #2962FF
}
.bc-lightBlue50 {

    background-color: #E1F5FE
}
.bc-lightBlue100 {

    background-color: #B3E5FC
}
.bc-lightBlue200 {

    background-color: #81D4FA
}
.bc-lightBlue300 {

    background-color: #4FC3F7
}
.bc-lightBlue400 {

    background-color: #29B6F6
}
.bc-lightBlue500 {

    background-color: #03A9F4
}
.bc-lightBlue600 {

    background-color: #039BE5
}
.bc-lightBlue700 {

    background-color: #0288D1
}
.bc-lightBlue800 {

    background-color: #0277BD
}
.bc-lightBlue900 {

    background-color: #01579B
}
.bc-lightBlueA100 {

    background-color: #80D8FF
}
.bc-lightBlueA200 {

    background-color: #40C4FF
}
.bc-lightBlueA400 {

    background-color: #00B0FF
}
.bc-lightBlueA700 {

    background-color: #0091EA
}
.bc-cyan50 {

    background-color: #E0F7FA
}
.bc-cyan100 {

    background-color: #B2EBF2
}
.bc-cyan200 {

    background-color: #80DEEA
}
.bc-cyan300 {

    background-color: #4DD0E1
}
.bc-cyan400 {

    background-color: #26C6DA
}
.bc-cyan500 {

    background-color: #00BCD4
}
.bc-cyan600 {

    background-color: #00ACC1
}
.bc-cyan700 {

    background-color: #0097A7
}
.bc-cyan800 {

    background-color: #00838F
}
.bc-cyan900 {

    background-color: #006064
}
.bc-cyanA100 {

    background-color: #84FFFF
}
.bc-cyanA200 {

    background-color: #18FFFF
}
.bc-cyanA400 {

    background-color: #00E5FF
}
.bc-cyanA700 {

    background-color: #00B8D4
}
.bc-teal50 {

    background-color: #E0F2F1
}
.bc-teal100 {

    background-color: #B2DFDB
}
.bc-teal200 {

    background-color: #80CBC4
}
.bc-teal300 {

    background-color: #4DB6AC
}
.bc-teal400 {

    background-color: #26A69A
}
.bc-teal500 {

    background-color: #009688
}
.bc-teal600 {

    background-color: #00897B
}
.bc-teal700 {

    background-color: #00796B
}
.bc-teal800 {

    background-color: #00695C
}
.bc-teal900 {

    background-color: #004D40
}
.bc-tealA100 {

    background-color: #A7FFEB
}
.bc-tealA200 {

    background-color: #64FFDA
}
.bc-tealA400 {

    background-color: #1DE9B6
}
.bc-tealA700 {

    background-color: #00BFA5
}
.bc-green50 {

    background-color: #E8F5E9
}
.bc-green100 {

    background-color: #C8E6C9
}
.bc-green200 {

    background-color: #A5D6A7
}
.bc-green300 {

    background-color: #81C784
}
.bc-green400 {

    background-color: #66BB6A
}
.bc-green500 {

    background-color: #4CAF50
}
.bc-green600 {

    background-color: #43A047
}
.bc-green700 {

    background-color: #388E3C
}
.bc-green800 {

    background-color: #2E7D32
}
.bc-green900 {

    background-color: #1B5E20
}
.bc-greenA100 {

    background-color: #B9F6CA
}
.bc-greenA200 {

    background-color: #69F0AE
}
.bc-greenA400 {

    background-color: #00E676
}
.bc-greenA700 {

    background-color: #00C853
}
.bc-lightGreen50 {

    background-color: #F1F8E9
}
.bc-lightGreen100 {

    background-color: #DCEDC8
}
.bc-lightGreen200 {

    background-color: #C5E1A5
}
.bc-lightGreen300 {

    background-color: #AED581
}
.bc-lightGreen400 {

    background-color: #9CCC65
}
.bc-lightGreen500 {

    background-color: #8BC34A
}
.bc-lightGreen600 {

    background-color: #7CB342
}
.bc-lightGreen700 {

    background-color: #689F38
}
.bc-lightGreen800 {

    background-color: #558B2F
}
.bc-lightGreen900 {

    background-color: #33691E
}
.bc-lightGreenA100 {

    background-color: #CCFF90
}
.bc-lightGreenA200 {

    background-color: #B2FF59
}
.bc-lightGreenA400 {

    background-color: #76FF03
}
.bc-lightGreenA700 {

    background-color: #64DD17
}
.bc-lime50 {

    background-color: #F9FBE7
}
.bc-lime100 {

    background-color: #F0F4C3
}
.bc-lime200 {

    background-color: #E6EE9C
}
.bc-lime300 {

    background-color: #DCE775
}
.bc-lime400 {

    background-color: #D4E157
}
.bc-lime500 {

    background-color: #CDDC39
}
.bc-lime600 {

    background-color: #C0CA33
}
.bc-lime700 {

    background-color: #AFB42B
}
.bc-lime800 {

    background-color: #9E9D24
}
.bc-lime900 {

    background-color: #827717
}
.bc-limeA100 {

    background-color: #F4FF81
}
.bc-limeA200 {

    background-color: #EEFF41
}
.bc-limeA400 {

    background-color: #C6FF00
}
.bc-limeA700 {

    background-color: #AEEA00
}
.bc-yellow50 {

    background-color: #FFFDE7
}
.bc-yellow100 {

    background-color: #FFF9C4
}
.bc-yellow200 {

    background-color: #FFF59D
}
.bc-yellow300 {

    background-color: #FFF176
}
.bc-yellow400 {

    background-color: #FFEE58
}
.bc-yellow500 {

    background-color: #FFEB3B
}
.bc-yellow600 {

    background-color: #FDD835
}
.bc-yellow700 {

    background-color: #FBC02D
}
.bc-yellow800 {

    background-color: #F9A825
}
.bc-yellow900 {

    background-color: #F57F17
}
.bc-yellowA100 {

    background-color: #FFFF8D
}
.bc-yellowA200 {

    background-color: #FFFF00
}
.bc-yellowA400 {

    background-color: #FFEA00
}
.bc-yellowA700 {

    background-color: #FFD600
}
.bc-amber50 {

    background-color: #FFF8E1
}
.bc-amber100 {

    background-color: #FFECB3
}
.bc-amber200 {

    background-color: #FFE082
}
.bc-amber300 {

    background-color: #FFD54F
}
.bc-amber400 {

    background-color: #FFCA28
}
.bc-amber500 {

    background-color: #FFC107
}
.bc-amber600 {

    background-color: #FFB300
}
.bc-amber700 {

    background-color: #FFA000
}
.bc-amber800 {

    background-color: #FF8F00
}
.bc-amber900 {

    background-color: #FF6F00
}
.bc-amberA100 {

    background-color: #FFE57F
}
.bc-amberA200 {

    background-color: #FFD740
}
.bc-amberA400 {

    background-color: #FFC400
}
.bc-amberA700 {

    background-color: #FFAB00
}
.bc-orange50 {

    background-color: #FFF3E0
}
.bc-orange100 {

    background-color: #FFE0B2
}
.bc-orange200 {

    background-color: #FFCC80
}
.bc-orange300 {

    background-color: #FFB74D
}
.bc-orange400 {

    background-color: #FFA726
}
.bc-orange500 {

    background-color: #FF9800
}
.bc-orange600 {

    background-color: #FB8C00
}
.bc-orange700 {

    background-color: #F57C00
}
.bc-orange800 {

    background-color: #EF6C00
}
.bc-orange900 {

    background-color: #E65100
}
.bc-orangeA100 {

    background-color: #FFD180
}
.bc-orangeA200 {

    background-color: #FFAB40
}
.bc-orangeA400 {

    background-color: #FF9100
}
.bc-orangeA700 {

    background-color: #FF6D00
}
.bc-deepOrange50 {

    background-color: #FBE9E7
}
.bc-deepOrange100 {

    background-color: #FFCCBC
}
.bc-deepOrange200 {

    background-color: #FFAB91
}
.bc-deepOrange300 {

    background-color: #FF8A65
}
.bc-deepOrange400 {

    background-color: #FF7043
}
.bc-deepOrange500 {

    background-color: #FF5722
}
.bc-deepOrange600 {

    background-color: #F4511E
}
.bc-deepOrange700 {

    background-color: #E64A19
}
.bc-deepOrange800 {

    background-color: #D84315
}
.bc-deepOrange900 {

    background-color: #BF360C
}
.bc-deepOrangeA100 {

    background-color: #FF9E80
}
.bc-deepOrangeA200 {

    background-color: #FF6E40
}
.bc-deepOrangeA400 {

    background-color: #FF3D00
}
.bc-deepOrangeA700 {

    background-color: #DD2C00
}
.bc-brown50 {

    background-color: #EFEBE9
}
.bc-brown100 {

    background-color: #D7CCC8
}
.bc-brown200 {

    background-color: #BCAAA4
}
.bc-brown300 {

    background-color: #A1887F
}
.bc-brown400 {

    background-color: #8D6E63
}
.bc-brown500 {

    background-color: #795548
}
.bc-brown600 {

    background-color: #6D4C41
}
.bc-brown700 {

    background-color: #5D4037
}
.bc-brown800 {

    background-color: #4E342E
}
.bc-brown900 {

    background-color: #3E2723
}
.bc-grey50 {

    background-color: #FAFAFA
}
.bc-grey100 {

    background-color: #F5F5F5
}
.bc-grey200 {

    background-color: #EEEEEE
}
.bc-grey300 {

    background-color: #E0E0E0
}
.bc-grey400 {

    background-color: #BDBDBD
}
.bc-grey500 {

    background-color: #9E9E9E
}
.bc-grey600 {

    background-color: #757575
}
.bc-grey700 {

    background-color: #616161
}
.bc-grey800 {

    background-color: #424242
}
.bc-grey900 {

    background-color: #212121
}
.bc-blueGrey50 {

    background-color: #FAFAFA
}
.bc-blueGrey100 {

    background-color: #CFD8DC
}
.bc-blueGrey200 {

    background-color: #B0BEC5
}
.bc-blueGrey300 {

    background-color: #90A4AE
}
.bc-blueGrey400 {

    background-color: #78909C
}
.bc-blueGrey500 {

    background-color: #607D8B
}
.bc-blueGrey600 {

    background-color: #546E7A
}
.bc-blueGrey700 {

    background-color: #455A64
}
.bc-blueGrey800 {

    background-color: #37474F
}
.bc-blueGrey900 {

    background-color: #263238
}
/* Border radius */
.br-0 {

    border-radius: 0
}
.br-s {

    border-radius: 2px
}
.br-m {

    border-radius: 5px
}
.br-l {

    border-radius: 10px
}
.br-circle {

    border-radius: 50%
}
.btlr-0 {

    border-top-left-radius: 0
}
.btlr-s {

    border-top-left-radius: 2px
}
.btlr-m {

    border-top-left-radius: 5px
}
.btlr-l {

    border-top-left-radius: 10px
}
.btrr-0 {

    border-top-right-radius: 0
}
.btrr-0 {

    border-top-right-radius: 2px
}
.btrr-0 {

    border-top-right-radius: 5px
}
.btrr-0 {

    border-top-right-radius: 10px
}
.bbrr-0 {

    border-bottom-right-radius: 0
}
.bbrr-0 {

    border-bottom-right-radius: 2px
}
.bbrr-0 {

    border-bottom-right-radius: 5px
}
.bbrr-0 {

    border-bottom-right-radius: 10px
}
.bblr-0 {

    border-bottom-left-radius: 0
}
.bblr-0 {

    border-bottom-left-radius: 2px
}
.bblr-0 {

    border-bottom-left-radius: 5px
}
.bblr-0 {

    border-bottom-left-radius: 10px
}
/* Box shadow */
.bs-constantRaiseRadioButtonOtherButtons {

    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24)
}
.bs-constantDistanceHeaderAndFab {

    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28)
}
.bs-active {

    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32)
}
.bs-dialogCompose {

    box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36)
}
.bs-modal {

    box-shadow: 0 0 14px rgba(0,0,0,.24),0 14px 28px rgba(0,0,0,.48)
}
/*.bs-card { box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24); }*/
/* Buttons, checkboxes, cards and other basic UI elements are on first level. Jump to second level on hover. */
/* More distant UI elements like FAB buttons and headers are on second level. Jump to third level on hover. */
/* Most distant UI elements like modals are on fourth level. Nowhere to jump. */
/* Color */
.color-white {

    color: #fff
}
.color-black {

    color: #000
}
.color-transparent {

    color: transparent
}
.color-red50 {

    color: #FFEBEE
}
.color-red100 {

    color: #FFCDD2
}
.color-red200 {

    color: #EF9A9A
}
.color-red300 {

    color: #E57373
}
.color-red400 {

    color: #EF5350
}
.color-red500 {

    color: #F44336
}
.color-red600 {

    color: #E53935
}
.color-red700 {

    color: #D32F2F
}
.color-red800 {

    color: #C62828
}
.color-red900 {

    color: #B71C1C
}
.color-redA100 {

    color: #FF8A80
}
.color-redA200 {

    color: #FF5252
}
.color-redA400 {

    color: #FF1744
}
.color-redA700 {

    color: #D50000
}
.color-pink50 {

    color: #FCE4EC
}
.color-pink100 {

    color: #F8BBD0
}
.color-pink200 {

    color: #F48FB1
}
.color-pink300 {

    color: #F06292
}
.color-pink400 {

    color: #EC407A
}
.color-pink500 {

    color: #E91E63
}
.color-pink600 {

    color: #D81B60
}
.color-pink700 {

    color: #C2185B
}
.color-pink800 {

    color: #AD1457
}
.color-pink900 {

    color: #880E4F
}
.color-pinkA100 {

    color: #FF80AB
}
.color-pinkA200 {

    color: #FF4081
}
.color-pinkA400 {

    color: #F50057
}
.color-pinkA700 {

    color: #C51162
}
.color-purple50 {

    color: #F3E5F5
}
.color-purple100 {

    color: #E1BEE7
}
.color-purple200 {

    color: #CE93D8
}
.color-purple300 {

    color: #BA68C8
}
.color-purple400 {

    color: #AB47BC
}
.color-purple500 {

    color: #673AB7
}
.color-purple600 {

    color: #8E24AA
}
.color-purple700 {

    color: #7B1FA2
}
.color-purple800 {

    color: #6A1B9A
}
.color-purple900 {

    color: #4A148C
}
.color-purpleA100 {

    color: #EA80FC
}
.color-purpleA200 {

    color: #E040FB
}
.color-purpleA400 {

    color: #D500F9
}
.color-purpleA700 {

    color: #AA00FF
}
.color-deepPurple50 {

    color: #EDE7F6
}
.color-deepPurple100 {

    color: #D1C4E9
}
.color-deepPurple200 {

    color: #B39DDB
}
.color-deepPurple300 {

    color: #9575CD
}
.color-deepPurple400 {

    color: #7E57C2
}
.color-deepPurple500 {

    color: #9C27B0
}
.color-deepPurple600 {

    color: #5E35B1
}
.color-deepPurple700 {

    color: #512DA8
}
.color-deepPurple800 {

    color: #4527A0
}
.color-deepPurple900 {

    color: #311B92
}
.color-deepPurpleA100 {

    color: #B388FF
}
.color-deepPurpleA200 {

    color: #7C4DFF
}
.color-deepPurpleA400 {

    color: #651FFF
}
.color-deepPurpleA700 {

    color: #6200EA
}
.color-indigo50 {

    color: #E8EAF6
}
.color-indigo100 {

    color: #C5CAE9
}
.color-indigo200 {

    color: #9FA8DA
}
.color-indigo300 {

    color: #7986CB
}
.color-indigo400 {

    color: #5C6BC0
}
.color-indigo500 {

    color: #3F51B5
}
.color-indigo600 {

    color: #3949AB
}
.color-indigo700 {

    color: #303F9F
}
.color-indigo800 {

    color: #283593
}
.color-indigo900 {

    color: #1A237E
}
.color-indigoA100 {

    color: #8C9EFF
}
.color-indigoA200 {

    color: #536DFE
}
.color-indigoA400 {

    color: #3D5AFE
}
.color-indigoA700 {

    color: #304FFE
}
.color-blue50 {

    color: #E3F2FD
}
.color-blue100 {

    color: #BBDEFB
}
.color-blue200 {

    color: #90CAF9
}
.color-blue300 {

    color: #64B5F6
}
.color-blue400 {

    color: #42A5F5
}
.color-blue500 {

    color: #2196F3
}
.color-blue600 {

    color: #1E88E5
}
.color-blue700 {

    color: #1976D2
}
.color-blue800 {

    color: #1565C0
}
.color-blue900 {

    color: #0D47A1
}
.color-blueA100 {

    color: #82B1FF
}
.color-blueA200 {

    color: #448AFF
}
.color-blueA400 {

    color: #2979FF
}
.color-blueA700 {

    color: #2962FF
}
.color-lightBlue50 {

    color: #E1F5FE
}
.color-lightBlue100 {

    color: #B3E5FC
}
.color-lightBlue200 {

    color: #81D4FA
}
.color-lightBlue300 {

    color: #4FC3F7
}
.color-lightBlue400 {

    color: #29B6F6
}
.color-lightBlue500 {

    color: #03A9F4
}
.color-lightBlue600 {

    color: #039BE5
}
.color-lightBlue700 {

    color: #0288D1
}
.color-lightBlue800 {

    color: #0277BD
}
.color-lightBlue900 {

    color: #01579B
}
.color-lightBlueA100 {

    color: #80D8FF
}
.color-lightBlueA200 {

    color: #40C4FF
}
.color-lightBlueA400 {

    color: #00B0FF
}
.color-lightBlueA700 {

    color: #0091EA
}
.color-cyan50 {

    color: #E0F7FA
}
.color-cyan100 {

    color: #B2EBF2
}
.color-cyan200 {

    color: #80DEEA
}
.color-cyan300 {

    color: #4DD0E1
}
.color-cyan400 {

    color: #26C6DA
}
.color-cyan500 {

    color: #00BCD4
}
.color-cyan600 {

    color: #00ACC1
}
.color-cyan700 {

    color: #0097A7
}
.color-cyan800 {

    color: #00838F
}
.color-cyan900 {

    color: #006064
}
.color-cyanA100 {

    color: #84FFFF
}
.color-cyanA200 {

    color: #18FFFF
}
.color-cyanA400 {

    color: #00E5FF
}
.color-cyanA700 {

    color: #00B8D4
}
.color-teal50 {

    color: #E0F2F1
}
.color-teal100 {

    color: #B2DFDB
}
.color-teal200 {

    color: #80CBC4
}
.color-teal300 {

    color: #4DB6AC
}
.color-teal400 {

    color: #26A69A
}
.color-teal500 {

    color: #009688
}
.color-teal600 {

    color: #00897B
}
.color-teal700 {

    color: #00796B
}
.color-teal800 {

    color: #00695C
}
.color-teal900 {

    color: #004D40
}
.color-tealA100 {

    color: #A7FFEB
}
.color-tealA200 {

    color: #64FFDA
}
.color-tealA400 {

    color: #1DE9B6
}
.color-tealA700 {

    color: #00BFA5
}
.color-green50 {

    color: #E8F5E9
}
.color-green100 {

    color: #C8E6C9
}
.color-green200 {

    color: #A5D6A7
}
.color-green300 {

    color: #81C784
}
.color-green400 {

    color: #66BB6A
}
.color-green500 {

    color: #4CAF50
}
.color-green600 {

    color: #43A047
}
.color-green700 {

    color: #388E3C
}
.color-green800 {

    color: #2E7D32
}
.color-green900 {

    color: #1B5E20
}
.color-greenA100 {

    color: #B9F6CA
}
.color-greenA200 {

    color: #69F0AE
}
.color-greenA400 {

    color: #00E676
}
.color-greenA700 {

    color: #00C853
}
.color-lightGreen50 {

    color: #F1F8E9
}
.color-lightGreen100 {

    color: #DCEDC8
}
.color-lightGreen200 {

    color: #C5E1A5
}
.color-lightGreen300 {

    color: #AED581
}
.color-lightGreen400 {

    color: #9CCC65
}
.color-lightGreen500 {

    color: #8BC34A
}
.color-lightGreen600 {

    color: #7CB342
}
.color-lightGreen700 {

    color: #689F38
}
.color-lightGreen800 {

    color: #558B2F
}
.color-lightGreen900 {

    color: #33691E
}
.color-lightGreenA100 {

    color: #CCFF90
}
.color-lightGreenA200 {

    color: #B2FF59
}
.color-lightGreenA400 {

    color: #76FF03
}
.color-lightGreenA700 {

    color: #64DD17
}
.color-lime50 {

    color: #F9FBE7
}
.color-lime100 {

    color: #F0F4C3
}
.color-lime200 {

    color: #E6EE9C
}
.color-lime300 {

    color: #DCE775
}
.color-lime400 {

    color: #D4E157
}
.color-lime500 {

    color: #CDDC39
}
.color-lime600 {

    color: #C0CA33
}
.color-lime700 {

    color: #AFB42B
}
.color-lime800 {

    color: #9E9D24
}
.color-lime900 {

    color: #827717
}
.color-limeA100 {

    color: #F4FF81
}
.color-limeA200 {

    color: #EEFF41
}
.color-limeA400 {

    color: #C6FF00
}
.color-limeA700 {

    color: #AEEA00
}
.color-yellow50 {

    color: #FFFDE7
}
.color-yellow100 {

    color: #FFF9C4
}
.color-yellow200 {

    color: #FFF59D
}
.color-yellow300 {

    color: #FFF176
}
.color-yellow400 {

    color: #FFEE58
}
.color-yellow500 {

    color: #FFEB3B
}
.color-yellow600 {

    color: #FDD835
}
.color-yellow700 {

    color: #FBC02D
}
.color-yellow800 {

    color: #F9A825
}
.color-yellow900 {

    color: #F57F17
}
.color-yellowA100 {

    color: #FFFF8D
}
.color-yellowA200 {

    color: #FFFF00
}
.color-yellowA400 {

    color: #FFEA00
}
.color-yellowA700 {

    color: #FFD600
}
.color-amber50 {

    color: #FFF8E1
}
.color-amber100 {

    color: #FFECB3
}
.color-amber200 {

    color: #FFE082
}
.color-amber300 {

    color: #FFD54F
}
.color-amber400 {

    color: #FFCA28
}
.color-amber500 {

    color: #FFC107
}
.color-amber600 {

    color: #FFB300
}
.color-amber700 {

    color: #FFA000
}
.color-amber800 {

    color: #FF8F00
}
.color-amber900 {

    color: #FF6F00
}
.color-amberA100 {

    color: #FFE57F
}
.color-amberA200 {

    color: #FFD740
}
.color-amberA400 {

    color: #FFC400
}
.color-amberA700 {

    color: #FFAB00
}
.color-orange50 {

    color: #FFF3E0
}
.color-orange100 {

    color: #FFE0B2
}
.color-orange200 {

    color: #FFCC80
}
.color-orange300 {

    color: #FFB74D
}
.color-orange400 {

    color: #FFA726
}
.color-orange500 {

    color: #FF9800
}
.color-orange600 {

    color: #FB8C00
}
.color-orange700 {

    color: #F57C00
}
.color-orange800 {

    color: #EF6C00
}
.color-orange900 {

    color: #E65100
}
.color-orangeA100 {

    color: #FFD180
}
.color-orangeA200 {

    color: #FFAB40
}
.color-orangeA400 {

    color: #FF9100
}
.color-orangeA700 {

    color: #FF6D00
}
.color-deepOrange50 {

    color: #FBE9E7
}
.color-deepOrange100 {

    color: #FFCCBC
}
.color-deepOrange200 {

    color: #FFAB91
}
.color-deepOrange300 {

    color: #FF8A65
}
.color-deepOrange400 {

    color: #FF7043
}
.color-deepOrange500 {

    color: #FF5722
}
.color-deepOrange600 {

    color: #F4511E
}
.color-deepOrange700 {

    color: #E64A19
}
.color-deepOrange800 {

    color: #D84315
}
.color-deepOrange900 {

    color: #BF360C
}
.color-deepOrangeA100 {

    color: #FF9E80
}
.color-deepOrangeA200 {

    color: #FF6E40
}
.color-deepOrangeA400 {

    color: #FF3D00
}
.color-deepOrangeA700 {

    color: #DD2C00
}
.color-brown50 {

    color: #EFEBE9
}
.color-brown100 {

    color: #D7CCC8
}
.color-brown200 {

    color: #BCAAA4
}
.color-brown300 {

    color: #A1887F
}
.color-brown400 {

    color: #8D6E63
}
.color-brown500 {

    color: #795548
}
.color-brown600 {

    color: #6D4C41
}
.color-brown700 {

    color: #5D4037
}
.color-brown800 {

    color: #4E342E
}
.color-brown900 {

    color: #3E2723
}
.color-grey50 {

    color: #FAFAFA
}
.color-grey100 {

    color: #F5F5F5
}
.color-grey200 {

    color: #EEEEEE
}
.color-grey300 {

    color: #E0E0E0
}
.color-grey400 {

    color: #BDBDBD
}
.color-grey500 {

    color: #9E9E9E
}
.color-grey600 {

    color: #757575
}
.color-grey700 {

    color: #616161
}
.color-grey800 {

    color: #424242
}
.color-grey900 {

    color: #212121
}
.color-blueGrey50 {

    color: #FAFAFA
}
.color-blueGrey100 {

    color: #CFD8DC
}
.color-blueGrey200 {

    color: #B0BEC5
}
.color-blueGrey300 {

    color: #90A4AE
}
.color-blueGrey400 {

    color: #78909C
}
.color-blueGrey500 {

    color: #607D8B
}
.color-blueGrey600 {

    color: #546E7A
}
.color-blueGrey700 {

    color: #455A64
}
.color-blueGrey800 {

    color: #37474F
}
.color-blueGrey900 {

    color: #263238
}
@media screen and (min-width: 480px) {

    .color-white--hover:hover {

        color: #fff
    }

    .color-black--hover:hover {

        color: #000
    }

    .color-red500--hover:hover {

        color: #F44336
    }

    .color-pink500--hover:hover {

        color: #E91E63
    }

    .color-purple500--hover:hover {

        color: #673AB7
    }

    .color-deepPurple500--hover:hover {

        color: #9C27B0
    }

    .color-indigo500--hover:hover {

        color: #3F51B5
    }

    .color-blue500--hover:hover {

        color: #2196F3
    }

    .color-lightBlue500--hover:hover {

        color: #03A9F4
    }

    .color-cyan500--hover:hover {

        color: #00BCD4
    }

    .color-teal500--hover:hover {

        color: #009688
    }

    .color-green500--hover:hover {

        color: #4CAF50
    }

    .color-lightGreen500--hover:hover {

        color: #8BC34A
    }

    .color-lime500--hover:hover {

        color: #CDDC39
    }

    .color-yellow500--hover:hover {

        color: #FFEB3B
    }

    .color-amber500--hover:hover {

        color: #FFC107
    }

    .color-orange500--hover:hover {

        color: #FF9800
    }

    .color-deepOrange500--hover:hover {

        color: #FF5722
    }

    .color-brown500--hover:hover {

        color: #795548
    }

    .color-grey500--hover:hover {

        color: #9E9E9E
    }

    .color-blueGrey500--hover:hover {

        color: #607D8B
    }

    .color-blueGrey900--hover:hover {

        color: #263238
    }
}
/* Font family */
.ff-roboto {

    font-family: Roboto,arial,sans-serif
}
/* Font size */
.fs-xxxxxl {

    font-size: 11.2rem
}
.fs-xxxxl {

    font-size: 5.6rem
}
.fs-xxxl {

    font-size: 4.5rem
}
.fs-xxl {

    font-size: 3.4rem
}
.fs-xl {

    font-size: 2.4rem
}
.fs-l {

    font-size: 2rem
}
.fs-m {

    font-size: 1.6rem
}
.fs-s {

    font-size: 1.4rem
}
.fs-xs {

    font-size: 1.2rem
}
@media screen and (min-width: 480px) {

    .bps-fs-xxxxxl {

        font-size: 11.2rem
    }

    .bps-fs-xxxxl {

        font-size: 5.6rem
    }

    .bps-fs-xxxl {

        font-size: 4.5rem
    }

    .bps-fs-xxl {

        font-size: 3.4rem
    }

    .bps-fs-xl {

        font-size: 2.4rem
    }

    .bps-fs-l {

        font-size: 2rem
    }

    .bps-fs-m {

        font-size: 1.6rem
    }

    .bps-fs-s {

        font-size: 1.4rem
    }

    .bps-fs-xs {

        font-size: 1.2rem
    }
}
@media screen and (min-width: 768px) {

    .bpm-fs-xxxxxl {

        font-size: 11.2rem
    }

    .bpm-fs-xxxxl {

        font-size: 5.6rem
    }

    .bpm-fs-xxxl {

        font-size: 4.5rem
    }

    .bpm-fs-xxl {

        font-size: 3.4rem
    }

    .bpm-fs-xl {

        font-size: 2.4rem
    }

    .bpm-fs-l {

        font-size: 2rem
    }

    .bpm-fs-m {

        font-size: 1.6rem
    }

    .bpm-fs-s {

        font-size: 1.4rem
    }

    .bpm-fs-xs {

        font-size: 1.2rem
    }
}
@media screen and (min-width: 1180px) {

    .bpl-fs-xxxxxl {

        font-size: 11.2rem
    }

    .bpl-fs-xxxxl {

        font-size: 5.6rem
    }

    .bpl-fs-xxxl {

        font-size: 4.5rem
    }

    .bpl-fs-xxl {

        font-size: 3.4rem
    }

    .bpl-fs-xl {

        font-size: 2.4rem
    }

    .bpl-fs-l {

        font-size: 2rem
    }

    .bpl-fs-m {

        font-size: 1.6rem
    }

    .bpl-fs-s {

        font-size: 1.4rem
    }

    .bpl-fs-xs {

        font-size: 1.2rem
    }
}
@media screen and (min-width: 1320px) {

    .bpxl-fs-xxxxxl {

        font-size: 11.2rem
    }

    .bpxl-fs-xxxxl {

        font-size: 5.6rem
    }

    .bpxl-fs-xxxl {

        font-size: 4.5rem
    }

    .bpxl-fs-xxl {

        font-size: 3.4rem
    }

    .bpxl-fs-xl {

        font-size: 2.4rem
    }

    .bpxl-fs-l {

        font-size: 2rem
    }

    .bpxl-fs-m {

        font-size: 1.6rem
    }

    .bpxl-fs-s {

        font-size: 1.4rem
    }

    .bpxl-fs-xs {

        font-size: 1.2rem
    }
}
/* Letter spacing */
.ls-xxl {

    letter-spacing: 2px
}
.ls-xl {

    letter-spacing: 1px
}
.ls-l {

    letter-spacing: .5px
}
.ls-normal {

    letter-spacing: normal
}
.ls-s {

    letter-spacing: -.5px
}
.ls-xs {

    letter-spacing: -1px
}
.ls-xxs {

    letter-spacing: -2px
}
/* Line height */
.lh-xxxxl {

    line-height: 6.3rem
}
.lh-xxxl {

    line-height: 4.8rem
}
.lh-xxl {

    line-height: 3.6rem
}
.lh-xl {

    line-height: 3.2rem
}
.lh-l {

    line-height: 2.8rem
}
.lh-m {

    line-height: 2.4rem
}
.lh-s {

    line-height: 2rem
}
@media screen and (min-width: 480px) {

    .bps-lh-xxxxl {

        line-height: 6.3rem
    }

    .bps-lh-xxxl {

        line-height: 4.8rem
    }

    .bps-lh-xxl {

        line-height: 4rem
    }

    .bps-lh-xl {

        line-height: 3.2rem
    }

    .bps-lh-l {

        line-height: 2.8rem
    }

    .bps-lh-m {

        line-height: 2.4rem
    }

    .bps-lh-s {

        line-height: 2rem
    }
}
@media screen and (min-width: 768px) {

    .bpm-lh-xxxxl {

        line-height: 6.3rem
    }

    .bpm-lh-xxxl {

        line-height: 4.8rem
    }

    .bpm-lh-xxl {

        line-height: 4rem
    }

    .bpm-lh-xl {

        line-height: 3.2rem
    }

    .bpm-lh-l {

        line-height: 2.8rem
    }

    .bpm-lh-m {

        line-height: 2.4rem
    }

    .bpm-lh-s {

        line-height: 2rem
    }
}
@media screen and (min-width: 1180px) {

    .bpl-lh-xxxxl {

        line-height: 6.3rem
    }

    .bpl-lh-xxxl {

        line-height: 4.8rem
    }

    .bpl-lh-xxl {

        line-height: 4rem
    }

    .bpl-lh-xl {

        line-height: 3.2rem
    }

    .bpl-lh-l {

        line-height: 2.8rem
    }

    .bpl-lh-m {

        line-height: 2.4rem
    }

    .bpl-lh-s {

        line-height: 2rem
    }
}
@media screen and (min-width: 1320px) {

    .bpxl-lh-xxxxl {

        line-height: 6.3rem
    }

    .bpxl-lh-xxxl {

        line-height: 4.8rem
    }

    .bpxl-lh-xxl {

        line-height: 4rem
    }

    .bpxl-lh-xl {

        line-height: 3.2rem
    }

    .bpxl-lh-l {

        line-height: 2.8rem
    }

    .bpxl-lh-m {

        line-height: 2.4rem
    }

    .bpxl-lh-s {

        line-height: 2rem
    }
}
/* Margin */
.margin-xxl {

    margin: 96px
}
.margin-xl {

    margin: 48px
}
.margin-l {

    margin: 24px
}
.margin-m {

    margin: 16px
}
.margin-s {

    margin: 12px
}
.margin-xs {

    margin: 6px
}
.margin-xxs {

    margin: 3px
}
.margin-0 {

    margin: 0
}
.mt-xxl {

    margin-top: 96px
}
.mt-xl {

    margin-top: 48px
}
.mt-l {

    margin-top: 24px
}
.mt-m {

    margin-top: 16px
}
.mt-s {

    margin-top: 12px
}
.mt-xs {

    margin-top: 6px
}
.mt-xxs {

    margin-top: 3px
}
.mt-0 {

    margin-top: 0
}
.mr-xxl {

    margin-right: 96px
}
.mr-xl {

    margin-right: 48px
}
.mr-l {

    margin-right: 24px
}
.mr-m {

    margin-right: 16px
}
.mr-s {

    margin-right: 12px
}
.mr-xs {

    margin-right: 6px
}
.mr-xxs {

    margin-right: 3px
}
.mr-0 {

    margin-right: 0
}
.mb-xxl {

    margin-bottom: 96px
}
.mb-xl {

    margin-bottom: 48px
}
.mb-l {

    margin-bottom: 24px
}
.mb-m {

    margin-bottom: 16px
}
.mb-s {

    margin-bottom: 12px
}
.mb-xs {

    margin-bottom: 6px
}
.mb-xxs {

    margin-bottom: 3px
}
.mb-0 {

    margin-bottom: 0
}
.ml-xxl {

    margin-left: 96px
}
.ml-xl {

    margin-left: 48px
}
.ml-l {

    margin-left: 24px
}
.ml-m {

    margin-left: 16px
}
.ml-s {

    margin-left: 12px
}
.ml-xs {

    margin-left: 6px
}
.ml-xxs {

    margin-left: 3px
}
.ml-0 {

    margin-left: 0
}
/* Padding */
.padding-xxl {

    padding: 96px
}
.padding-xl {

    padding: 48px
}
.padding-l {

    padding: 24px
}
.padding-m {

    padding: 16px
}
.padding-s {

    padding: 12px
}
.padding-xs {

    padding: 6px
}
.padding-xxs {

    padding: 3px
}
.padding-0 {

    padding: 0
}
.pt-xxl {

    padding-top: 96px
}
.pt-xl {

    padding-top: 48px
}
.pt-l {

    padding-top: 24px
}
.pt-m {

    padding-top: 16px
}
.pt-s {

    padding-top: 12px
}
.pt-xs {

    padding-top: 6px
}
.pt-xxs {

    padding-top: 3px
}
.pt-0 {

    padding-top: 0
}
.pr-xxl {

    padding-right: 96px
}
.pr-xl {

    padding-right: 48px
}
.pr-l {

    padding-right: 24px
}
.pr-m {

    padding-right: 16px
}
.pr-s {

    padding-right: 12px
}
.pr-xs {

    padding-right: 6px
}
.pr-xxs {

    padding-right: 3px
}
.pr-0 {

    padding-right: 0
}
.pb-xxl {

    padding-bottom: 96px
}
.pb-xl {

    padding-bottom: 48px
}
.pb-l {

    padding-bottom: 24px
}
.pb-m {

    padding-bottom: 16px
}
.pb-s {

    padding-bottom: 12px
}
.pb-xs {

    padding-bottom: 6px
}
.pb-xxs {

    padding-bottom: 3px
}
.pb-0 {

    padding-bottom: 0
}
.pl-xxl {

    padding-left: 96px
}
.pl-xl {

    padding-left: 48px
}
.pl-l {

    padding-left: 24px
}
.pl-m {

    padding-left: 16px
}
.pl-s {

    padding-left: 12px
}
.pl-xs {

    padding-left: 6px
}
.pl-xxs {

    padding-left: 3px
}
.pl-0 {

    padding-left: 0
}
/* Text shadow */
