/* Background color */

.bc-white               { background-color: var(--white); }
.bc-black               { background-color: var(--black); }
.bc-transparent         { background-color: var(--transparent); }

.bc-red50               { background-color: var(--red50); }
.bc-red100              { background-color: var(--red100); }
.bc-red200              { background-color: var(--red200); }
.bc-red300              { background-color: var(--red300); }
.bc-red400              { background-color: var(--red400); }
.bc-red500              { background-color: var(--red500); }
.bc-red600              { background-color: var(--red600); }
.bc-red700              { background-color: var(--red700); }
.bc-red800              { background-color: var(--red800); }
.bc-red900              { background-color: var(--red900); }
.bc-redA100             { background-color: var(--redA100); }
.bc-redA200             { background-color: var(--redA200); }
.bc-redA400             { background-color: var(--redA400); }
.bc-redA700             { background-color: var(--redA700); }

.bc-pink50              { background-color: var(--pink50); }
.bc-pink100             { background-color: var(--pink100); }
.bc-pink200             { background-color: var(--pink200); }
.bc-pink300             { background-color: var(--pink300); }
.bc-pink400             { background-color: var(--pink400); }
.bc-pink500             { background-color: var(--pink500); }
.bc-pink600             { background-color: var(--pink600); }
.bc-pink700             { background-color: var(--pink700); }
.bc-pink800             { background-color: var(--pink800); }
.bc-pink900             { background-color: var(--pink900); }
.bc-pinkA100            { background-color: var(--pinkA100); }
.bc-pinkA200            { background-color: var(--pinkA200); }
.bc-pinkA400            { background-color: var(--pinkA400); }
.bc-pinkA700            { background-color: var(--pinkA700); }

.bc-purple50            { background-color: var(--purple50); }
.bc-purple100           { background-color: var(--purple100); }
.bc-purple200           { background-color: var(--purple200); }
.bc-purple300           { background-color: var(--purple300); }
.bc-purple400           { background-color: var(--purple400); }
.bc-purple500           { background-color: var(--purple500); }
.bc-purple600           { background-color: var(--purple600); }
.bc-purple700           { background-color: var(--purple700); }
.bc-purple800           { background-color: var(--purple800); }
.bc-purple900           { background-color: var(--purple900); }
.bc-purpleA100          { background-color: var(--purpleA100); }
.bc-purpleA200          { background-color: var(--purpleA200); }
.bc-purpleA400          { background-color: var(--purpleA400); }
.bc-purpleA700          { background-color: var(--purpleA700); }

.bc-deepPurple50        { background-color: var(--deepPurple50); }
.bc-deepPurple100       { background-color: var(--deepPurple100); }
.bc-deepPurple200       { background-color: var(--deepPurple200); }
.bc-deepPurple300       { background-color: var(--deepPurple300); }
.bc-deepPurple400       { background-color: var(--deepPurple400); }
.bc-deepPurple500       { background-color: var(--deepPurple500); }
.bc-deepPurple600       { background-color: var(--deepPurple600); }
.bc-deepPurple700       { background-color: var(--deepPurple700); }
.bc-deepPurple800       { background-color: var(--deepPurple800); }
.bc-deepPurple900       { background-color: var(--deepPurple900); }
.bc-deepPurpleA100      { background-color: var(--deepPurpleA100); }
.bc-deepPurpleA200      { background-color: var(--deepPurpleA200); }
.bc-deepPurpleA400      { background-color: var(--deepPurpleA400); }
.bc-deepPurpleA700      { background-color: var(--deepPurpleA700); }

.bc-indigo50            { background-color: var(--indigo50); }
.bc-indigo100           { background-color: var(--indigo100); }
.bc-indigo200           { background-color: var(--indigo200); }
.bc-indigo300           { background-color: var(--indigo300); }
.bc-indigo400           { background-color: var(--indigo400); }
.bc-indigo500           { background-color: var(--indigo500); }
.bc-indigo600           { background-color: var(--indigo600); }
.bc-indigo700           { background-color: var(--indigo700); }
.bc-indigo800           { background-color: var(--indigo800); }
.bc-indigo900           { background-color: var(--indigo900); }
.bc-indigoA100          { background-color: var(--indigoA100); }
.bc-indigoA200          { background-color: var(--indigoA200); }
.bc-indigoA400          { background-color: var(--indigoA400); }
.bc-indigoA700          { background-color: var(--indigoA700); }

.bc-blue50              { background-color: var(--blue50); }
.bc-blue100             { background-color: var(--blue100); }
.bc-blue200             { background-color: var(--blue200); }
.bc-blue300             { background-color: var(--blue300); }
.bc-blue400             { background-color: var(--blue400); }
.bc-blue500             { background-color: var(--blue500); }
.bc-blue600             { background-color: var(--blue600); }
.bc-blue700             { background-color: var(--blue700); }
.bc-blue800             { background-color: var(--blue800); }
.bc-blue900             { background-color: var(--blue900); }
.bc-blueA100            { background-color: var(--blueA100); }
.bc-blueA200            { background-color: var(--blueA200); }
.bc-blueA400            { background-color: var(--blueA400); }
.bc-blueA700            { background-color: var(--blueA700); }

.bc-lightBlue50         { background-color: var(--lightBlue50); }
.bc-lightBlue100        { background-color: var(--lightBlue100); }
.bc-lightBlue200        { background-color: var(--lightBlue200); }
.bc-lightBlue300        { background-color: var(--lightBlue300); }
.bc-lightBlue400        { background-color: var(--lightBlue400); }
.bc-lightBlue500        { background-color: var(--lightBlue500); }
.bc-lightBlue600        { background-color: var(--lightBlue600); }
.bc-lightBlue700        { background-color: var(--lightBlue700); }
.bc-lightBlue800        { background-color: var(--lightBlue800); }
.bc-lightBlue900        { background-color: var(--lightBlue900); }
.bc-lightBlueA100       { background-color: var(--lightBlueA100); }
.bc-lightBlueA200       { background-color: var(--lightBlueA200); }
.bc-lightBlueA400       { background-color: var(--lightBlueA400); }
.bc-lightBlueA700       { background-color: var(--lightBlueA700); }

.bc-cyan50              { background-color: var(--cyan50); }
.bc-cyan100             { background-color: var(--cyan100); }
.bc-cyan200             { background-color: var(--cyan200); }
.bc-cyan300             { background-color: var(--cyan300); }
.bc-cyan400             { background-color: var(--cyan400); }
.bc-cyan500             { background-color: var(--cyan500); }
.bc-cyan600             { background-color: var(--cyan600); }
.bc-cyan700             { background-color: var(--cyan700); }
.bc-cyan800             { background-color: var(--cyan800); }
.bc-cyan900             { background-color: var(--cyan900); }
.bc-cyanA100            { background-color: var(--cyanA100); }
.bc-cyanA200            { background-color: var(--cyanA200); }
.bc-cyanA400            { background-color: var(--cyanA400); }
.bc-cyanA700            { background-color: var(--cyanA700); }

.bc-teal50              { background-color: var(--teal50); }
.bc-teal100             { background-color: var(--teal100); }
.bc-teal200             { background-color: var(--teal200); }
.bc-teal300             { background-color: var(--teal300); }
.bc-teal400             { background-color: var(--teal400); }
.bc-teal500             { background-color: var(--teal500); }
.bc-teal600             { background-color: var(--teal600); }
.bc-teal700             { background-color: var(--teal700); }
.bc-teal800             { background-color: var(--teal800); }
.bc-teal900             { background-color: var(--teal900); }
.bc-tealA100            { background-color: var(--tealA100); }
.bc-tealA200            { background-color: var(--tealA200); }
.bc-tealA400            { background-color: var(--tealA400); }
.bc-tealA700            { background-color: var(--tealA700); }

.bc-green50             { background-color: var(--green50); }
.bc-green100            { background-color: var(--green100); }
.bc-green200            { background-color: var(--green200); }
.bc-green300            { background-color: var(--green300); }
.bc-green400            { background-color: var(--green400); }
.bc-green500            { background-color: var(--green500); }
.bc-green600            { background-color: var(--green600); }
.bc-green700            { background-color: var(--green700); }
.bc-green800            { background-color: var(--green800); }
.bc-green900            { background-color: var(--green900); }
.bc-greenA100           { background-color: var(--greenA100); }
.bc-greenA200           { background-color: var(--greenA200); }
.bc-greenA400           { background-color: var(--greenA400); }
.bc-greenA700           { background-color: var(--greenA700); }

.bc-lightGreen50        { background-color: var(--lightGreen50); }
.bc-lightGreen100       { background-color: var(--lightGreen100); }
.bc-lightGreen200       { background-color: var(--lightGreen200); }
.bc-lightGreen300       { background-color: var(--lightGreen300); }
.bc-lightGreen400       { background-color: var(--lightGreen400); }
.bc-lightGreen500       { background-color: var(--lightGreen500); }
.bc-lightGreen600       { background-color: var(--lightGreen600); }
.bc-lightGreen700       { background-color: var(--lightGreen700); }
.bc-lightGreen800       { background-color: var(--lightGreen800); }
.bc-lightGreen900       { background-color: var(--lightGreen900); }
.bc-lightGreenA100      { background-color: var(--lightGreenA100); }
.bc-lightGreenA200      { background-color: var(--lightGreenA200); }
.bc-lightGreenA400      { background-color: var(--lightGreenA400); }
.bc-lightGreenA700      { background-color: var(--lightGreenA700); }

.bc-lime50              { background-color: var(--lime50); }
.bc-lime100             { background-color: var(--lime100); }
.bc-lime200             { background-color: var(--lime200); }
.bc-lime300             { background-color: var(--lime300); }
.bc-lime400             { background-color: var(--lime400); }
.bc-lime500             { background-color: var(--lime500); }
.bc-lime600             { background-color: var(--lime600); }
.bc-lime700             { background-color: var(--lime700); }
.bc-lime800             { background-color: var(--lime800); }
.bc-lime900             { background-color: var(--lime900); }
.bc-limeA100            { background-color: var(--limeA100); }
.bc-limeA200            { background-color: var(--limeA200); }
.bc-limeA400            { background-color: var(--limeA400); }
.bc-limeA700            { background-color: var(--limeA700); }

.bc-yellow50            { background-color: var(--yellow50); }
.bc-yellow100           { background-color: var(--yellow100); }
.bc-yellow200           { background-color: var(--yellow200); }
.bc-yellow300           { background-color: var(--yellow300); }
.bc-yellow400           { background-color: var(--yellow400); }
.bc-yellow500           { background-color: var(--yellow500); }
.bc-yellow600           { background-color: var(--yellow600); }
.bc-yellow700           { background-color: var(--yellow700); }
.bc-yellow800           { background-color: var(--yellow800); }
.bc-yellow900           { background-color: var(--yellow900); }
.bc-yellowA100          { background-color: var(--yellowA100); }
.bc-yellowA200          { background-color: var(--yellowA200); }
.bc-yellowA400          { background-color: var(--yellowA400); }
.bc-yellowA700          { background-color: var(--yellowA700); }

.bc-amber50             { background-color: var(--amber50); }
.bc-amber100            { background-color: var(--amber100); }
.bc-amber200            { background-color: var(--amber200); }
.bc-amber300            { background-color: var(--amber300); }
.bc-amber400            { background-color: var(--amber400); }
.bc-amber500            { background-color: var(--amber500); }
.bc-amber600            { background-color: var(--amber600); }
.bc-amber700            { background-color: var(--amber700); }
.bc-amber800            { background-color: var(--amber800); }
.bc-amber900            { background-color: var(--amber900); }
.bc-amberA100           { background-color: var(--amberA100); }
.bc-amberA200           { background-color: var(--amberA200); }
.bc-amberA400           { background-color: var(--amberA400); }
.bc-amberA700           { background-color: var(--amberA700); }

.bc-orange50            { background-color: var(--orange50); }
.bc-orange100           { background-color: var(--orange100); }
.bc-orange200           { background-color: var(--orange200); }
.bc-orange300           { background-color: var(--orange300); }
.bc-orange400           { background-color: var(--orange400); }
.bc-orange500           { background-color: var(--orange500); }
.bc-orange600           { background-color: var(--orange600); }
.bc-orange700           { background-color: var(--orange700); }
.bc-orange800           { background-color: var(--orange800); }
.bc-orange900           { background-color: var(--orange900); }
.bc-orangeA100          { background-color: var(--orangeA100); }
.bc-orangeA200          { background-color: var(--orangeA200); }
.bc-orangeA400          { background-color: var(--orangeA400); }
.bc-orangeA700          { background-color: var(--orangeA700); }

.bc-deepOrange50        { background-color: var(--deepOrange50); }
.bc-deepOrange100       { background-color: var(--deepOrange100); }
.bc-deepOrange200       { background-color: var(--deepOrange200); }
.bc-deepOrange300       { background-color: var(--deepOrange300); }
.bc-deepOrange400       { background-color: var(--deepOrange400); }
.bc-deepOrange500       { background-color: var(--deepOrange500); }
.bc-deepOrange600       { background-color: var(--deepOrange600); }
.bc-deepOrange700       { background-color: var(--deepOrange700); }
.bc-deepOrange800       { background-color: var(--deepOrange800); }
.bc-deepOrange900       { background-color: var(--deepOrange900); }
.bc-deepOrangeA100      { background-color: var(--deepOrangeA100); }
.bc-deepOrangeA200      { background-color: var(--deepOrangeA200); }
.bc-deepOrangeA400      { background-color: var(--deepOrangeA400); }
.bc-deepOrangeA700      { background-color: var(--deepOrangeA700); }

.bc-brown50             { background-color: var(--brown50); }
.bc-brown100            { background-color: var(--brown100); }
.bc-brown200            { background-color: var(--brown200); }
.bc-brown300            { background-color: var(--brown300); }
.bc-brown400            { background-color: var(--brown400); }
.bc-brown500            { background-color: var(--brown500); }
.bc-brown600            { background-color: var(--brown600); }
.bc-brown700            { background-color: var(--brown700); }
.bc-brown800            { background-color: var(--brown800); }
.bc-brown900            { background-color: var(--brown900); }

.bc-grey50              { background-color: var(--grey50); }
.bc-grey100             { background-color: var(--grey100); }
.bc-grey200             { background-color: var(--grey200); }
.bc-grey300             { background-color: var(--grey300); }
.bc-grey400             { background-color: var(--grey400); }
.bc-grey500             { background-color: var(--grey500); }
.bc-grey600             { background-color: var(--grey600); }
.bc-grey700             { background-color: var(--grey700); }
.bc-grey800             { background-color: var(--grey800); }
.bc-grey900             { background-color: var(--grey900); }

.bc-blueGrey50          { background-color: var(--blueGrey50); }
.bc-blueGrey100         { background-color: var(--blueGrey100); }
.bc-blueGrey200         { background-color: var(--blueGrey200); }
.bc-blueGrey300         { background-color: var(--blueGrey300); }
.bc-blueGrey400         { background-color: var(--blueGrey400); }
.bc-blueGrey500         { background-color: var(--blueGrey500); }
.bc-blueGrey600         { background-color: var(--blueGrey600); }
.bc-blueGrey700         { background-color: var(--blueGrey700); }
.bc-blueGrey800         { background-color: var(--blueGrey800); }
.bc-blueGrey900         { background-color: var(--blueGrey900); }
