/* Font size */

.fs-xxxxxl  { font-size: 11.2rem; }
.fs-xxxxl   { font-size: 5.6rem; }
.fs-xxxl    { font-size: 4.5rem; }
.fs-xxl     { font-size: 3.4rem; }
.fs-xl      { font-size: 2.4rem; }
.fs-l       { font-size: 2rem; }
.fs-m       { font-size: 1.6rem; }
.fs-s       { font-size: 1.4rem; }
.fs-xs      { font-size: 1.2rem; }

@media screen and (min-width: 480px) {
    .bps-fs-xxxxxl  { font-size: 11.2rem; }
    .bps-fs-xxxxl   { font-size: 5.6rem; }
    .bps-fs-xxxl    { font-size: 4.5rem; }
    .bps-fs-xxl     { font-size: 3.4rem; }
    .bps-fs-xl      { font-size: 2.4rem; }
    .bps-fs-l       { font-size: 2rem; }
    .bps-fs-m       { font-size: 1.6rem; }
    .bps-fs-s       { font-size: 1.4rem; }
    .bps-fs-xs      { font-size: 1.2rem; }
}

@media screen and (min-width: 768px) {
    .bpm-fs-xxxxxl  { font-size: 11.2rem; }
    .bpm-fs-xxxxl   { font-size: 5.6rem; }
    .bpm-fs-xxxl    { font-size: 4.5rem; }
    .bpm-fs-xxl     { font-size: 3.4rem; }
    .bpm-fs-xl      { font-size: 2.4rem; }
    .bpm-fs-l       { font-size: 2rem; }
    .bpm-fs-m       { font-size: 1.6rem; }
    .bpm-fs-s       { font-size: 1.4rem; }
    .bpm-fs-xs      { font-size: 1.2rem; }
}

@media screen and (min-width: 1180px) {
    .bpl-fs-xxxxxl  { font-size: 11.2rem; }
    .bpl-fs-xxxxl   { font-size: 5.6rem; }
    .bpl-fs-xxxl    { font-size: 4.5rem; }
    .bpl-fs-xxl     { font-size: 3.4rem; }
    .bpl-fs-xl      { font-size: 2.4rem; }
    .bpl-fs-l       { font-size: 2rem; }
    .bpl-fs-m       { font-size: 1.6rem; }
    .bpl-fs-s       { font-size: 1.4rem; }
    .bpl-fs-xs      { font-size: 1.2rem; }
}

@media screen and (min-width: 1320px) {
    .bpxl-fs-xxxxxl  { font-size: 11.2rem; }
    .bpxl-fs-xxxxl   { font-size: 5.6rem; }
    .bpxl-fs-xxxl    { font-size: 4.5rem; }
    .bpxl-fs-xxl     { font-size: 3.4rem; }
    .bpxl-fs-xl      { font-size: 2.4rem; }
    .bpxl-fs-l       { font-size: 2rem; }
    .bpxl-fs-m       { font-size: 1.6rem; }
    .bpxl-fs-s       { font-size: 1.4rem; }
    .bpxl-fs-xs      { font-size: 1.2rem; }
}
